
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="container">
    <h1 style="padding-bottom: 100px;">Respond to Activity</h1>
    
    <mat-form-field class="field" >
        <mat-label>Experience</mat-label>
        <input matInput type="text" />
    </mat-form-field>
  
    <mat-form-field >
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
      </mat-form-field>





    <button class="btn-create" color="primary" mat-raised-button>Apply</button>


</div>