
 <app-nav></app-nav>
<!-- <div class="main">
<div class="side-bar">
  <div class="card">
    <h1>
      Category
    </h1>
    <button  mat-button routerLink="/stats">Upload Stats</button>
    <button  mat-button (click)="clicked('Cricket')" >Cricket</button>
    <button  mat-button (click)="clicked('Table Tenis')">Table Tenis</button>
    <button  mat-button (click)="clicked('Football')">Football</button>
    <button  mat-button (click)="clicked('Volley Ball')">Volley Ball</button>
  </div>

</div>

<div class="container">
  <div class="mat-card" *ngFor="let prof of profile">
    <div class="stats" style="display: flex;">
    <p>Name: {{prof.name}}</p>
    <p>Sport: {{prof.SportsCategory}}</p>
    <p>Match Location: {{prof.matches}}</p>
    <P>Performance: {{prof.Performance}}</P>
    <p>Summary: {{prof.Summary}}</p>
    <a href="{{prof.link}}"><p>view</p></a>
  </div>
  </div>
  <div class="card">
    <h1>COMMENTS</h1>
  <ul class="list-group" style="width: 500px;margin: 0 auto">
      <li class="list-group-item">
          <ul *ngFor="let c of comments">
              <li class="list-group-item" >
                  <strong>User: {{c.user}}</strong>
              </li>
              <li class="list-group-item">
                  {{c.comment}}
              </li>
          </ul>
      </li>
  </ul>
  <div *ngIf="isNotPlayer()">
    <div style="text-align: center;">
  <input [(ngModel)]="com" type="text" class="form-control" style="height: 100px; width: 500px;margin: 0 auto;" name="Comment" ngModel placeholder="Your Comment here" class="form-control">
  <button (click)="addcomment()" class="btn btn-primary btn-block" style="width: 500px;margin: 0 auto;" >Add Comment</button>
    </div>
  </div>
  </div>
</div>
<div>
  
</div>
</div>  -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head" *ngFor="let d of biodata">
                                    <h2>
                                        {{d.userid.name}}
                                    </h2>
                                    <h4>
                                        {{d.sport}}
                                    </h4>
                                    <p class="proile-rating"><span></span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button  (click)="getadd()">Add team</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"  *ngFor="let d of biodata">
                        <div class="profile-work">
                            <p>Bio Data</p>
                            <a href="">Age: {{d.age}}</a><br/>
                            <a href="">height: {{d.height}}</a><br/>
                            <a href="">Weight: {{d.weight}}</a>
                            <p>Sports Background</p>
                            <a href="">Previous Clubs: {{d.preclubs}}</a><br/>
                            <a href="">Background Details: {{d.sportsback}}</a><br/>
                           
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" *ngFor="let d of biodata">
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{d.userid.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{d.userid.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>123 456 7890</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Sports Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{d.sport}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              <table id="customers">
                                <tr>
                                  <th>Name</th>
                                  <th>Sport</th>
                                  <th>Match Location</th>
                                  <th>Performance</th>
                                  <th>Summary/Result</th>
                                  <th>View</th>
                                </tr>
                                <tr *ngFor="let prof of profile">
                                  <td>{{prof.name}}</td>
                                  <td>{{prof.SportsCategory}}</td>
                                  <td>{{prof.matches}}</td>
                                  <td>{{prof.Performance}}</td>
                                  <td>{{prof.Summary}}</td>
                                  <td> <a href="{{prof.link}}"><p>view</p></a></td>
                                </tr>
                                </table>
                                <div class="card">
                                  <h1>COMMENTS</h1>
                                <ul class="list-group" style="width: 500px;margin: 0 auto">
                                    <li class="list-group-item">
                                        <ul *ngFor="let c of comments">
                                            <li class="list-group-item" >
                                                <strong>User: {{c.user}}</strong>
                                            </li>
                                            <li class="list-group-item">
                                                {{c.comment}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div *ngIf="isNotPlayer()">
                                  <div style="text-align: center;">
                                <input [(ngModel)]="com" type="text" class="form-control" style="height: 100px; width: 500px;margin: 0 auto;" name="Comment" ngModel placeholder="Your Comment here" class="form-control">
                                <button (click)="addcomment()" class="btn btn-primary btn-block" style="width: 500px;margin: 0 auto;" >Add Comment</button>
                                  </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>