.example-card {
   min-width: 400px;
    margin-top: 50px;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .container{
    background-color: #f3f2ef;
    height: 100%;
    /* width: 700px; */
  }
  h1{
      margin-top: 10px;
      padding-top: 20px;
      text-align: center;
  }
  .main{
    display:grid;
    grid-template-columns: auto auto 500px;
    padding: 10px;
	  background-color: #f3f2ef;
    justify-self: center;
  }
  .update{
    width: 300px;
  }