<app-nav></app-nav>
<div class="container">
    <h1>My Activities</h1>
    <mat-card *ngFor="let a of activity" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{a.userid.name}}</mat-card-title>
          <mat-card-subtitle>{{a.userid.userType}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Activity Name:{{a.Activityname}}
            Activity Description:{{a.ActivityDescription}}
            Sport:{{a.sport}}
            No Of Players:{{a.NoOfPlayers}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="open(a._id)" mat-stroked-button>View Applicants</button>
        </mat-card-actions>
      </mat-card>
</div>